  <div class="panel" id="panel-s2">

{% include "partials/_panel_s2_fullmig.html" %}
{% include "partials/_panel_s2_migstrategy.html" %}
{% include "partials/_panel_s2_retain.html" %}
{% include "partials/_panel_s2_retire.html" %}
    <iframe id="s2rehost_p1-pane" src="about:blank" data-src="/designer/?source=ospc" title="Shared FLEX Infra Cloning" style="display:none; width:100%; height:100%; border:none;"></iframe>
    <iframe id="s2image-pane" src="/image_migrator/?v={{ cache_bust|default('') }}" title="Direct Shift and Lift of VM" style="width:100%; height:100%; border:none;"></iframe>
    <iframe id="s2vmware-pane" src="/image_migrator/?mode=vmware&v={{ cache_bust|default('') }}" title="VMware to FLEX Migration" style="display:none; width:100%; height:100%; border:none;"></iframe>
    <iframe id="s2flex2flex-pane" src="/image_migrator/?mode=flex2flex&v={{ cache_bust|default('') }}" title="R3 FLEX2FLEX-Region Cloning" style="display:none; width:100%; height:100%; border:none;"></iframe>
    <iframe id="s2flexanywhere-pane" src="/image_migrator/?mode=flexanywhere&v={{ cache_bust|default('') }}" title="R3 FLEX Anywhere Hyperscaler Bridge" style="display:none; width:100%; height:100%; border:none;"></iframe>
    <iframe id="s2rehost_p2_1-pane" src="/agent1/" title="REHOST Apps Migration" style="display:none; width:100%; height:100%; border:none;"></iframe>
{% include "partials/_panel_s2_rehost_p2_2.html" %}
{% include "partials/r6ace_pane.html" %}
{% include "partials/_panel_s2_opencenter.html" %}
{% include "partials/_panel_s2_repurchase.html" %}
