    <iframe id="s1ospc-pane" src="/run/" title="OSPC Scanner and Deployment Script Generator" style="display:none;"></iframe>

    <!-- 1b2: FLEX2FLEX Workflow Dashboard -->
    <iframe id="s1flex2flex_infra-pane" src="/flex2flex-scanner/" title="FLEX2FLEX Scanner and Deployment Script Generator" style="display:none;"></iframe>

    <!-- 1b3: Hyperscaler to FLEX Workflow Dashboards -->
    <iframe id="s1hyper_aws-pane" src="/hyperflex-scanner/?provider=aws" title="AWS Scanner and FLEX Deployment Script Generator" style="display:none;"></iframe>
    <iframe id="s1hyper_gcp-pane" src="/hyperflex-scanner/?provider=gcp" title="GCP Scanner and FLEX Deployment Script Generator" style="display:none;"></iframe>
    <iframe id="s1hyper_azure-pane" src="/hyperflex-scanner/?provider=azure" title="Azure Scanner and FLEX Deployment Script Generator" style="display:none;"></iframe>

    <!-- 1c: Analyze OSPC CSV -->
    <iframe id="s1analyze-pane" src="/dashboard/" title="OSPC TCO and Inventory" style="display:none;"></iframe>

    <!-- 1d: OSPC Flavors & Images -->
    <iframe id="s1flavors-pane" src="/references/" title="OSPC Flavors &amp; Images" style="display:none;"></iframe>
    <iframe id="s1flex2flex_mapper-pane" src="/dashboard/?source=flex2flex" title="FLEX2FLEX and TCO" style="display:none;"></iframe>
    <iframe id="s1flex2flex_flavors-pane" src="/references/?source=flex2flex" title="FLEX2FLEX Flavors &amp; Images" style="display:none;"></iframe>
    <iframe id="s1hyper_aws_mapper-pane" src="/dashboard/?source=aws" title="AWS and TCO" style="display:none;"></iframe>
    <iframe id="s1hyper_gcp_mapper-pane" src="/dashboard/?source=gcp" title="GCP and TCO" style="display:none;"></iframe>
    <iframe id="s1hyper_azure_mapper-pane" src="/dashboard/?source=azure" title="Azure and TCO" style="display:none;"></iframe>
    <iframe id="s1hyper_aws_flavors-pane" src="/references/?source=aws" title="AWS Flavors &amp; Images" style="display:none;"></iframe>
    <iframe id="s1hyper_gcp_flavors-pane" src="/references/?source=gcp" title="GCP Flavors &amp; Images" style="display:none;"></iframe>
    <iframe id="s1hyper_azure_flavors-pane" src="/references/?source=azure" title="Azure Flavors &amp; Images" style="display:none;"></iframe>
    <!-- 1AppDep: App Dependency Discovery -->
