{% include "partials/_head_nav.html" %}

<div class="panel-area">
  {% include "partials/_panel_why.html" %}
  {% include "partials/_panel_feedback.html" %}
  {% include "partials/_panel_tour.html" %}
  {% include "partials/_panel_s0.html" %}
  {% include "partials/_panel_s1.html" %}
  {% include "partials/_panel_s2.html" %}
  {% include "partials/_panel_s4.html" %}
  {% include "partials/_panel_s5.html" %}
  {% include "partials/_panel_s5c.html" %}
  {% include "partials/_panel_s6.html" %}
  {% include "partials/_panel_s7.html" %}
  {% include "partials/_panel_s7a.html" %}
  {% include "partials/_panel_s8.html" %}
  {% include "partials/_panel_s9.html" %}
  {% include "partials/_panel_s10.html" %}
</div><!-- /panel-area -->

{% include "partials/_closing_scripts.html" %}
